*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 16px;
}

.item{
    background-color: pink;
    height: 50px;
    width: 70%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: white;
    padding-inline: 3px;
}

input{
    height: 30px;
}

button{
    padding: 2px 8px;
}

.resultado{
    width: 75px;
    height: 30px;
    background-color: white;
    color: rgb(255, 13, 93);
}