*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px;
    gap: 16px;
}

.item{
    background-color: pink;
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: white;
    padding: 0px 16px;
}

.numeros{
    flex-grow: 1;
    padding: 0px 4px;
    display: flex;
    gap: 8px;
}

button{
    padding: 0px 8px;
}

.numeros span{
    background-color: pink;
    width: 50px;
    text-align: center;
    border: 1px solid black;
}